@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body{
    margin:0;
    padding-top:5%;
    background-image: url('Images/forumbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

##coheaderflex{
    display: flex;
    flex-direction: column ;
}

#coheaderflex2{
    display: flex;
    flex-direction: row;
}


#coheaderflex3{
    display: flex;
    flex-direction: column;
}

form{
    display: flex;
    flex-direction: row;
}

.coinput{
    margin-right: 5%;
    display: flex;
    align-items: center;
    width: 50%;
    text-align: center;
}

#boutonconnexion{
    width: 50%;
    margin-left: 25%;
}

#connexioninput{
    margin:1%;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border: 0.5px solid black;
    text-align: center;
}

#cocenter{
    text-align: center;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    margin-bottom: 3%;
}

header{
    display: flex;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    margin-left: 15%;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.925);
    font-family: Arial, Helvetica, sans-serif;
}

header a{
    text-decoration: none;
    color: black;
}

header img{
    width: 100%;
}

.liheader{
    display: flex;
    align-items: center;
}

nav{
    background-color: rgba(255, 255, 255, 0.925);
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
    height: 50px;
    border: 2px solid black;
}

#navul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin:0;
}

#homebutton{
    width: 45px;
    margin-top:2.32px;
}

.lia{
    display: flex;
    align-items: center;
}

.lia{
    text-decoration: none;
    color: black;
}

.lia:active{
    text-decoration: none;
    color: black;
}

.lia:visited{
    text-decoration: none;
    color: black;
}

#imglogout:hover{
    /*background-color: black;*/
    transform: rotate(360deg) scale(1.5);
    -webkit-transform: rotate(360deg) scale(1.5);
}

#imglogout{
    width: 28px;
    height: 28px;
    transition: all 0.5s ease-out;
}

#profiltext{
    vertical-align: top;
    font-size: 25px;
    font-weight: bold;
}


/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/
/*///////////////////////////////////CSS FORUM TOPIC ETC*/

main{
    height: auto;
    margin-bottom: 3%;
    width: 70%;
    margin-left: 15%;
    background-color: rgba(255, 255, 255, 0.975);
    border: 2px solid black;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

#welcomesection{
    display: flex;
    flex-direction: column;
}

#welcomeh1{
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin:0;
    text-align: center;
}

#welcomeyuno{
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcomeyuno2{
    width: 50%;
}

#reglesmainsection{
    margin:1%
}

#regleh1{
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 0.5px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#endessousdutitreflex{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

#topicicon{
    margin:0;
    margin-right: 0;
    margin-bottom: -5px;
    margin-top: 2px;
    padding: 0;
    width: 60px;
}

#topicicon img{
    width: 100%;
    background-color: rgb(172, 172, 172);
    padding: 3%;
    margin-top: 0;
    margin-right: 0;   
}

#topicflex1{
    flex-direction: column;
    padding-left: 0;
    margin-left: 6px;
    background-color: rgba(223, 223, 223, 0.527);
    margin-top: 2px;
    height: 52.9px;
    width: 60%;
    vertical-align: middle;
}

.toastpoussage{
    margin-bottom: 5px;
    margin-top: 5px;
}

.toastpoussage2{
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 172, 172);
    width: 12%;
}

.toastpoussage2{
    padding-bottom: 0.5;
}

.toastpoussage5{
    margin-left: 2px;
    padding-right: 12.2%;
    padding-left: 12.2%;
    width: 100%;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    display:flex;
    text-align:center;
    margin-top: 2px;
    background-color:rgba(223, 223, 223, 0.527);
    height: 38.9px;
    max-width: 75%;
}

.toastpoussage4{
    width: 28%;
}

/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/
/*///PARTIE FORUM ANIME/////////////////*/

#discussionsmainsection{
    margin:1%
}

#discussionsh1{
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 0.5px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#endessousdutitreflex{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

#topicicon{
    margin:0;
    margin-right: 0;
    margin-bottom: -5px;
    margin-top: 2px;
    padding: 0;
    width: 60px;
}

#topicicon img{
    width: 100%;
    background-color: rgb(172, 172, 172);
    padding: 3%;
    margin-top: 0;
    margin-right: 0;   
}

#topicflex1{
    flex-direction: column;
    padding-left: 0;
    margin-left: 6px;
    background-color: rgba(223, 223, 223, 0.527);
    margin-top: 2px;
    height: 52.9px;
    width: 60%;
    vertical-align: middle;
}

.toastpoussage{
    margin-bottom: 5px;
    margin-top: 5px;
}

.toastpoussage a{
    text-decoration: none;
    color:rgb(20, 135, 211);
    font-weight: bold;
    font-size: 15px;
}

.toastpoussage a:hover{
    text-decoration: none;
    color:rgb(79, 185, 255);
    font-weight: bold;
    font-size: 15px;
}

.toastpoussage2{
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 172, 172);
    width: 12%;
}

.toastpoussage2{
    padding-bottom: 0.5;
}

.toastpoussage5{
    margin-left: 2px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    display:flex;
    text-align:center;
    margin-top: 2px;
    background-color:rgba(223, 223, 223, 0.527);
}

.toastpoussage4{
    width: 28%;
}


/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/
/*//////////////PARTIE INFOS///////*/

#infosmainsection{
    display: flex;
    flex-direction: row;
}

#infosh1{
    margin-top: 15px;
    margin-bottom: 0;
    background-color: rgb(49, 49, 49);
    color: white;
    border: 0.5px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

#informationsectionflex{
    display:flex;
    flex-direction: column;
    width: 50%;
}

#infosarticle{
    text-align: center;
    font-size: 20px;
    margin-top: 0.3%;
    padding-top: 15%;
    background-color:rgba(223, 223, 223, 0.527);
    height: 50%;
}

#imageenbas{
    display: flex;
    justify-content: flex-end;
    margin-top: 6.1%;
    flex-direction: column;
    width:60%;
    margin-left: 40%;
    margin-bottom: -2.15%;
}

#creertopicbouton{
    margin-left: 80%;
}

/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/
/*////////////PARTIE INSCRIPTION/////////////////*/

#h1inscription{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 15%;
    font-size: 35px;
}

#inscriptionformflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscriptionmain{
    height: 400px;
    margin-bottom: 2.%;
    width: 70%;
    margin-left: 15%;
    background-color: rgba(255, 255, 255, 0.975);
    border: 2px solid black;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    display: flex;
    flex-direction: column;
}

#inscriptionform{
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.inscriptionforminput{
    width: 75%;
    text-align:center;
    display: flex;
    justify-content: center;
}

.inscriptionforminputsubmit{
    width: 50%;
    text-align:center;
    display: flex;
    justify-content: center;
}


/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/
/*////////////PARTIE PROFIL/////////////////*/


#partiegaucheprofil{
    width: 30%;
    background-color: grey;
    height: 600px;
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}

#partiedroiteprofil{
    width: 70%;
    display: flex;
    flex-direction: column;
}

#partiegaucheprofilflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#profilform{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    text-align: center;*
}

#profilform2{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
    text-align: center;
    margin-top: 10%;
}

#infosprofils{
    margin-right: 10%;
}

/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/
/*////////////PARTIE THREAD/////////////////*/


#threadmainsection{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

#threadcoteprofil{
    border-right: 2px solid black;
    width:25%;
}

#threadsectionflex{
    height:10%;
    display:flex;
    flex-direction: row;
}

#threadenvoiemessage{
    height: 175px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

#textareaenvoiemessage{
    resize: none;
    width: 200%;
}

#envoiemessagebouton{
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 80%;
    width: 100%;
}

#formenvoiemessage{
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}